[package]
name = "wasmcloud-actor-macros"
version = "0.1.0"
description = "derive macros for wasmCloud actors"

authors.workspace = true
categories.workspace = true
edition.workspace = true
license.workspace = true
repository.workspace = true

[lib]
proc-macro = true

[dependencies]
quote = { workspace = true }
syn = { workspace = true, features = ["full", "parsing", "proc-macro"] }
