# CODEOWNERS

## Organization/repository management, top level documentation

.github/CODEOWNERS @wasmCloud/org-maintainers
.gitignore @wasmCloud/org-maintainers
LICENSE @wasmCloud/org-maintainers
*.md @wasmCloud/org-maintainers
.github/workflows/check-conventional-commits.yml

## CI and nix

.github/actions/build-nix @wasmCloud/ci-maintainers
.github/actions/install-nix @wasmCloud/ci-maintainers
.github/workflows/*.yml @wasmCloud/ci-maintainers
.github/templates/* @wasmCloud/ci-maintainers
flake.* @wasmCloud/ci-maintainers
garnix.yaml @wasmCloud/ci-maintainers
nix @wasmCloud/ci-maintainers

## host-related code

crates/component @wasmCloud/host-maintainers
crates/host @wasmCloud/host-maintainers
crates/host-sys @wasmCloud/host-maintainers
crates/runtime @wasmCloud/host-maintainers
crates/secrets-client @wasmCloud/host-maintainers
crates/secrets-nats-kv @wasmCloud/host-maintainers
crates/secrets-types @wasmCloud/host-maintainers
src/main.rs @wasmCloud/host-maintainers
tests/* @wasmCloud/host-maintainers
wit @wasmCloud/host-maintainers
Cargo.* @wasmCloud/host-maintainers
.cargo @wasmCloud/host-maintainers

## shared crates

crates/control-interface @wasmCloud/control-interface-maintainers
crates/core @wasmCloud/org-maintainers
crates/opentelemetry-nats @wasmCloud/observability-maintainers
crates/provider-sdk @wasmCloud/capability-provider-sdk-maintainers
crates/tracing @wasmCloud/observability-maintainers
crates/wascap @wasmCloud/wascap-maintainers

## projects

crates/provider-* @wasmCloud/capability-provider-maintainers
crates/wash @wasmCloud/wash-maintainers
examples @wasmCloud/examples-maintainers

## Language specific folders

### Golang
examples/golang @wasmCloud/go-maintainers

### TypeScript
# TODO(lachieh): remove once new release of wash (> 0.38.0) is released
# Everything typescript related has moved to the wasmcloud/typescript repo. The
# only thing left in this folder is the http-hello-world example which is a
# dependency of `wash` version 0.37.0 and lower.
typescript @wasmCloud/wash-maintainers
