version: 2
updates:
- package-ecosystem: "cargo"
  directory: "/"
  schedule:
    interval: "daily"
  groups:
    wasmtime: # wasmtime dependencies need to be updated together
      patterns:
      - "wasmtime*"
- package-ecosystem: "cargo"
  directory: "/crates/providers"
  schedule:
    interval: "daily"
- package-ecosystem: "cargo"
  directory: "/tests/actors/rust"
  schedule:
    interval: "daily"
- package-ecosystem: "cargo"
  directory: "/tests/actors/rust/tcp-component-command"
  schedule:
    interval: "daily"
- package-ecosystem: npm
  directory: "/washboard-ui"
  schedule:
    interval: "weekly"
- package-ecosystem: "github-actions"
  directory: "/"
  schedule:
    interval: "daily"
