version: 2
updates:
- package-ecosystem: "cargo"
  directory: "/"
  schedule:
    interval: "daily"
- package-ecosystem: "cargo"
  directory: "/crates/providers"
  schedule:
    interval: "daily"
- package-ecosystem: "cargo"
  directory: "/tests/actors/rust"
  schedule:
    interval: "daily"
- package-ecosystem: "github-actions"
  directory: "/"
  schedule:
    interval: "daily"
