[package]
name = "wasmcloud"
version = "0.1.0"
edition = "2021"
authors = ["The wasmCloud Team"]
license = "Apache-2.0"
categories = ["wasm"]
description = "wasmCloud Host Runtime"
repository = "https://github.com/wasmCloud/wasmCloud"

[badges.maintenance]
status = "actively-developed"

[dependencies]
anyhow = { workspace = true, features = ["std"] }
async-trait = { workspace = true }
futures = { workspace = true, features = ["std"] }
host = { workspace = true, optional = true }
log = { workspace = true }
rand = { workspace = true, features = ["std"] }
serde = { workspace = true }
tokio = { workspace = true, features = ["macros", "rt"], optional = true }
tracing = { workspace = true, features = ["log", "release_max_level_info"] }
tracing-subscriber = { workspace = true, features = ["ansi", "env-filter", "fmt", "json", "std"], optional = true }
uuid = { workspace = true }
wascap = { workspace = true }
wasi-cap-std-sync = { workspace = true, optional = true }
wasi-common = { workspace = true, optional = true }
wasmbus-rpc = { workspace = true }
wasmcloud-interface-logging = { workspace = true }
wasmcloud-interface-numbergen = { workspace = true }
wasmparser = { workspace = true }
wasmtime = { workspace = true, features = ["async", "cache", "cranelift", "jitdump", "parallel-compilation", "pooling-allocator", "vtune"] }
wasmtime-wasi = { workspace = true, features = ["sync"] }

[features]
default = [
    "bin",
    "component-model",
]
bin = [
    "tokio",
    "tracing-subscriber"
]
component-model = [
    "host",
    "wasi-cap-std-sync",
    "wasi-common",
    "wasmtime/component-model"
]

[dev-dependencies]
once_cell = { workspace = true }
serde = { workspace = true }
serde_json = { workspace = true }
test-actors = { workspace = true }
tokio = { workspace = true, features = ["fs", "macros", "rt"] }
tracing-subscriber = { workspace = true, features = ["ansi", "env-filter", "fmt", "json", "std"] }
wasm-compose = { workspace = true }
wasmcloud-interface-httpserver = { workspace = true }

[workspace.dependencies]
anyhow = { version = "1.0.69", default-features = false }
async-trait = { version = "0.1.66", default-features = false }
futures = { version = "0.3.26", default-features = false }
host = { git = "https://github.com/bytecodealliance/preview2-prototyping", rev = "24fa023d1848ca3a24b35ed80ff1514ea54dd219", default-features = false }
log = { version = "0.4.17", default-features = false }
once_cell = { version = "1.17.1", default-features = false }
rand = { version = "0.8.5", default-features = false }
serde = { version = "1.0.152", default-features = false }
serde_json = { version = "1.0.93", default-features = false }
test-actors = { path = "./tests/actors" }
tokio = { version = "1.26.0", default-features = false }
tracing = { version = "0.1.37", default-features = false }
tracing-subscriber = { version = "0.3.16", default-features = false }
uuid = { version = "1.3.0", default-features = false }
wascap = { version = "0.10.0", default-features = false }
wasi-cap-std-sync = { git = "https://github.com/bytecodealliance/preview2-prototyping", rev = "24fa023d1848ca3a24b35ed80ff1514ea54dd219", default-features = false }
wasi-common = { git = "https://github.com/bytecodealliance/preview2-prototyping", rev = "24fa023d1848ca3a24b35ed80ff1514ea54dd219", default-features = false }
wasm-compose = { version = "0.2.11", default-features = false }
wasmbus-rpc = { version = "0.11.2", default-features = false }
wasmcloud = { path = "." }
wasmcloud-example-runner = { version = "0.4.0", default-features = false }
wasmcloud-interface-httpserver = { version = "0.9.0", default-features = false }
wasmcloud-interface-logging = { version = "0.8.1", default-features = false }
wasmcloud-interface-numbergen = { version = "0.8.1", default-features = false }
wasmparser = { version = "0.102.0", default-features = false }
wasmtime = { git = "https://github.com/bytecodealliance/wasmtime", rev = "8d3a881b524d56498dfc71b65818b2abbeb1da44", default-features = false }
wasmtime-wasi = { git = "https://github.com/bytecodealliance/wasmtime", rev = "8d3a881b524d56498dfc71b65818b2abbeb1da44", default-features = false }
wit-component = { version = "0.7.4", default-features = false }
