[package]
name = "wasmcloud-example-rangekv"
version = "0.1.1"
#description = ""
authors = [ "wasmcloud Team" ]
edition = "2018"
license = "Apache-2.0"

# when publishing to crates.io, freeze src by omitting build.rs
exclude = [ "build.rs" ]

[lib]
crate-type = ["cdylib", "rlib"]

[features]
default = []

[dependencies]
async-trait = "0.1"
futures = "0.3"
serde = { version = "1.0" , features = ["derive"] }
serde_json = "1.0"
serde_bytes = "0.11"
lazy_static = "1.4"

[dependencies.wasmbus-rpc]
version = "0.1"
path = "../../../../rpc-rs"

[dev-dependencies]
base64 = "0.13"

# build-dependencies needed for build.rs
[build-dependencies]
weld-codegen = { version = "0.1", path = "../../../../codegen" }

