services:
  registry:
    image: registry:2
    ports:
     - "5001:5000"
  nats:
    image: nats:2.10-alpine
    ports:
      - "6222:6222"
      - "4222:4222"
      - "8222:8222"
  redis:
    image: redis:6.0.9
    ports:
      - "6379:6379"
