# edit and rename this to .env
POSTGRES_PASSWORD=b9dd590e9692497caf1d545a282c412a
POSTGRES_DB=example

PGADMIN_DEFAULT_EMAIL=pgadmin@example.com
PGADMIN_DEFAULT_PASSWORD=846f3b2fdc914381ad46531e7e15ba9d
PGADMIN_LISTEN_ADDRESS=0.0.0.0

