[package]
name = "provider-archive"
version = "0.16.1"
description = "Library for reading and writing wasmCloud capability provider archive files"
documentation = "https://docs.rs/provider-archive"
readme = "README.md"
keywords = ["jwt", "zip", "archive", "security", "wasmcloud"]
categories = ["cryptography", "authentication", "wasm"]

authors.workspace = true
edition.workspace = true
license.workspace = true
repository.workspace = true

[dependencies]
astral-tokio-tar = { workspace = true }
async-compression = { workspace = true, features = ["tokio", "gzip"] }
data-encoding = { workspace = true }
ring = { workspace = true }
serde_json = { workspace = true }
tokio = { workspace = true, features = ["io-util"] }
tokio-stream = { workspace = true }
wascap = { workspace = true }

[dev-dependencies]
tempfile = { workspace = true }
tokio = { workspace = true, features = ["rt", "macros"] }
