name: Benchmark

on:
  workflow_dispatch:
    inputs:
      branch:
        description: 'Branch to benchmark'
        required: true
        default: 'main'
        type: string

permissions:
  contents: read

jobs:
  benchmark:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          ref: ${{ github.event_name == 'workflow_dispatch' && inputs.branch || 'main' }}

      - name: Set up Python
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        with:
          python-version: '3.11' # OCI cli needs distutils

      - name: Install OCI CLI
        run: |
          bash -c "$(curl -L https://raw.githubusercontent.com/oracle/oci-cli/master/scripts/install/install.sh)" -- --accept-all-defaults

      - name: Add the OCI CLI to the PATH
        run: |
          echo "${HOME}/bin" >> $GITHUB_PATH

      - uses: taiki-e/install-action@a983ca795126a4be4e8a44879ac5c4c3ef66cae1 # v2.65.11
        with:
          tool: wash

      - name: Create kind cluster
        uses: helm/kind-action@92086f6be054225fa813e0a4b13787fc9088faab # v1.13.0
        with:
          version: 'v0.26.0'

      - name: Install clusterctl
        run: |
          curl -L https://github.com/kubernetes-sigs/cluster-api/releases/download/v1.9.4/clusterctl-linux-amd64 -o clusterctl
          chmod +x clusterctl
          sudo mv clusterctl /usr/local/bin/

      - name: Init clusterctl
        env:
          OCI_CREDENTIALS_KEY: ${{ secrets.OCI_CREDENTIALS_KEY }}
          OCI_CREDENTIALS_FINGERPRINT: ${{ secrets.OCI_CREDENTIALS_FINGERPRINT }}
          OCI_USER_ID: ${{ secrets.OCI_USER_ID }}
        run: ./ci/setup-cluster-api.sh

      - name: Run and print benchmarks
        env:
          OCI_CLI_KEY_CONTENT: ${{ secrets.OCI_CREDENTIALS_KEY }}
          OCI_CLI_FINGERPRINT: ${{ secrets.OCI_CREDENTIALS_FINGERPRINT }}
          OCI_CLI_USER: ${{ secrets.OCI_USER_ID }}
        run: ./ci/run-benchmarks.sh

      # This should get run on exit from the script, but just in case, we run it again here too to
      # ensure we clean up after ourselves
      - name: Teardown cluster
        if: ${{ always() }}
        run: ./ci/delete-cluster.sh
        env:
          OCI_CLI_KEY_CONTENT: ${{ secrets.OCI_CREDENTIALS_KEY }}
          OCI_CLI_FINGERPRINT: ${{ secrets.OCI_CREDENTIALS_FINGERPRINT }}
          OCI_CLI_USER: ${{ secrets.OCI_USER_ID }}
