name: lint-cc

on: [pull_request]

jobs:
  lint:
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
    steps:
      - uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332
        with:
          fetch-depth: 0

      - name: Install commitsar
        uses: jaxxstorm/action-install-gh-release@25d5e2dd555cd74f1fab9ac1e6ea117acde2c0c4
        with:
          repo: aevea/commitsar
          tag: v0.20.2
          cache: enable

      - name: Check commits
        id: cc-lint
        run: |
          commitsar -v -s=false
