name: NATS-RELEASE

on:
  push:
    tags:
    - 'nats-v*'

env:
  CARGO_TERM_COLOR: always
  working-directory: ./nats
  DESTINATION: nats.par.gz #aka the filename of the parJEEzy
  WASH_ISSUER_KEY: ${{ secrets.WASMCLOUD_ACCOUNT_OFFICIAL }}
  WASH_SUBJECT_KEY: ${{ secrets.WASMCLOUD_NATS }}
  WASH_REG_USER:  ${{ secrets.AZURECR_PUSH_USER }}
  WASH_REG_PASSWORD:  ${{ secrets.AZURECR_PUSH_PASSWORD }}
  REVISION: ${{ github.run_number }}

jobs:
  cargo_check:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Build
      run: cargo build --verbose
      working-directory: ${{ env.working-directory }}
    - name: Run tests
      run: cargo test --verbose
      working-directory: ${{ env.working-directory }}
    - name: Check fmt
      run: cargo fmt -- --check
      working-directory: ${{ env.working-directory }}

  clippy_check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - run: rustup component add clippy
      - name: Run cargo clippy
        run: cargo clippy --all-features
        working-directory: ${{ env.working-directory }}

  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - run: cargo install --git https://github.com/wasmcloud/wash --branch main --tag v0.1.13 --force
      - run: cargo install --git https://github.com/ChrisRx/cross --branch add-darwin-target --force # Installing from feature branch until PR merged
      - name: build-par
        run: make par
        working-directory: ${{ env.working-directory }}
      # Push artifact to https://AZURECR/nats:VERSION
      - name: push-par
        run: |
          VERSION=$(cargo metadata --no-deps --format-version 1 | jq -r '.packages[].version')
          URL=${{secrets.AZURECR_PUSH_URL}}/nats:$VERSION
          wash reg push $URL ${{ env.DESTINATION }}
        working-directory: ${{ env.working-directory }}
