# NOTE: This is the in-progress new release flow for wasmCloud that replaces the old Nix based
# release flow.
name: wasmCloud Release
on:
  push:
    branches:
      - main
    tags:
      - 'v[0-9].[0-9]+.[0-9]+'
      - 'v[0-9].[0-9]+.[0-9]+-*'

permissions:
  contents: read

defaults:
  run:
    shell: bash

jobs:
  build:
    name: build release assets
    runs-on: ${{ matrix.config.runnerOs }}
    outputs:
      version_output: ${{ steps.version_output.outputs.version }}
    strategy:
      matrix:
        config:
          - {
              runnerOs: 'ubuntu-latest',
              buildCommand: 'cargo zigbuild',
              target: 'x86_64-unknown-linux-musl',
              uploadArtifactSuffix: 'linux-amd64',
              buildOutputPath: 'target/x86_64-unknown-linux-musl/release/wasmcloud',
            }
          - {
              runnerOs: 'ubuntu-latest',
              buildCommand: 'cargo zigbuild',
              target: 'aarch64-unknown-linux-musl',
              uploadArtifactSuffix: 'linux-aarch64',
              buildOutputPath: 'target/aarch64-unknown-linux-musl/release/wasmcloud',
            }
          - {
              runnerOs: 'macos-latest',
              buildCommand: 'cargo build',
              target: 'x86_64-apple-darwin',
              uploadArtifactSuffix: 'macos-amd64',
              buildOutputPath: 'target/x86_64-apple-darwin/release/wasmcloud',
            }
          - {
              runnerOs: 'macos-latest',
              buildCommand: 'cargo build',
              target: 'aarch64-apple-darwin',
              uploadArtifactSuffix: 'macos-aarch64',
              buildOutputPath: 'target/aarch64-apple-darwin/release/wasmcloud',
            }
          - {
              runnerOs: 'windows-latest',
              buildCommand: 'cargo build',
              target: 'x86_64-pc-windows-msvc',
              uploadArtifactSuffix: 'windows-amd64',
              buildOutputPath: 'target/x86_64-pc-windows-msvc/release/wasmcloud.exe',
            }
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: set the release version (tag)
        if: ${{ startsWith(github.ref, 'refs/tags/v') }}
        run: |
          echo "RELEASE_VERSION=${GITHUB_REF/refs\/tags\//}" >> $GITHUB_ENV

      - name: set the release version (main)
        if: ${{ github.ref == 'refs/heads/main' }}
        run: |
          echo "RELEASE_VERSION=canary" >> $GITHUB_ENV

      - name: Output Version
        id: version_output
        run: echo "version=$RELEASE_VERSION" >> $GITHUB_OUTPUT

      - name: Install Zig
        if: ${{ contains(matrix.config.buildCommand, 'zigbuild') }}
        uses: mlugg/setup-zig@fa65c4058643678a4e4a9a60513944a7d8d35440 # v2.1.0
        with:
          version: 0.14.1

      - name: Install latest Rust stable toolchain
        uses: dtolnay/rust-toolchain@1ff72ee08e3cb84d84adba594e0a297990fc1ed3 # stable
        with:
          toolchain: stable
          components: clippy, rustfmt
          target: ${{ matrix.config.target }}

      - name: Install cargo zigbuild
        if: ${{ contains(matrix.config.buildCommand, 'zigbuild') }}
        uses: taiki-e/install-action@a983ca795126a4be4e8a44879ac5c4c3ef66cae1 # v2.65.11
        with:
          tool: cargo-zigbuild

      - name: Setup cache
        uses: Swatinem/rust-cache@779680da715d629ac1d338a641029a2f4372abb5 # v2.8.2

      - name: Build wasmcloud
        run: |
          ${{ matrix.config.buildCommand }} --release --bin wasmcloud --target ${{ matrix.config.target }}

      - uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: wasmcloud-${{ env.RELEASE_VERSION }}-${{ matrix.config.uploadArtifactSuffix }}
          if-no-files-found: error
          path: |
            ${{ matrix.config.buildOutputPath }}

  # TODO: Add the publish step for crate and GH release from the old workflow when we're ready

  docker-image:
    name: Build and push docker images
    runs-on: ubuntu-latest
    needs: build
    permissions:
      contents: read
      packages: write
    env:
      RELEASE_VERSION: ${{ needs.build.outputs.version_output }}
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Set up QEMU
        uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # v3.7.0

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3.12.0

      - uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          path: ./artifacts
          pattern: '*linux*'

      - name: Prepare container artifacts
        working-directory: ./artifacts
        run: |
          for dir in */; do
            name="${dir%/}"
            mv "${name}/wasmcloud" wasmcloud
            chmod +x wasmcloud
            rmdir "${name}"
            mv wasmcloud "${name}"
          done

      - name: Login to GitHub Container Registry
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Login to DockerHub
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        with:
          username: ${{ secrets.DOCKERHUB_PUSH_USER }}
          password: ${{ secrets.DOCKERHUB_PUSH_PASSWORD }}

      - name: lowercase repository owner
        run: |
          echo "OWNER=${GITHUB_REPOSITORY_OWNER,,}" >> $GITHUB_ENV

      - name: Set the formatted release version for the docker tag
        if: ${{ startsWith(github.ref, 'refs/tags/v') }}
        run: |
          echo "RELEASE_VERSION_DOCKER_TAG=${RELEASE_VERSION#v}" >> $GITHUB_ENV

      - name: Build and push (tag)
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        if: ${{ startsWith(github.ref, 'refs/tags/v') }}
        with:
          push: true
          platforms: linux/amd64,linux/arm64
          context: ./
          build-args: |
            BIN_ARM64=./artifacts/wasmcloud-${{ env.RELEASE_VERSION }}-linux-aarch64
            BIN_AMD64=./artifacts/wasmcloud-${{ env.RELEASE_VERSION }}-linux-amd64
          tags: |
            ghcr.io/${{ env.OWNER }}/wasmcloud:latest
            ghcr.io/${{ env.OWNER }}/wasmcloud:${{ env.RELEASE_VERSION_DOCKER_TAG }}
            ${{ env.OWNER }}/wasmcloud:latest
            ${{ env.OWNER }}/wasmcloud:${{ env.RELEASE_VERSION_DOCKER_TAG }}

      - name: Build and push (main)
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        # if: ${{ github.ref == 'refs/heads/main' }}
        with:
          push: true
          platforms: linux/amd64,linux/arm64
          context: ./
          build-args: |
            BIN_ARM64=./artifacts/wasmcloud-${{ env.RELEASE_VERSION }}-linux-aarch64
            BIN_AMD64=./artifacts/wasmcloud-${{ env.RELEASE_VERSION }}-linux-amd64
          tags: |
            ghcr.io/${{ env.OWNER }}/wasmcloud:canary
            ${{ env.OWNER }}/wasmcloud:canary
