name: secrets-nats-kv

on:
  push:
    branches: [main]
  merge_group:
  pull_request:
    branches: [main]
    paths:
      - .github/workflows/secrets-nats-kv.yml
      - Cargo.lock
      - Cargo.toml
      - crates/secrets-nats-kv/**
      - crates/secrets-client/**
      - crates/secrets-types/**

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  CARGO_TERM_COLOR: always

jobs:
  integration_tests:
    name: Integration Tests
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@d632683dd7b4114ad314bca15554477dd762a938
      - run: rustup show
      - uses: Swatinem/rust-cache@23bce251a8cd2ffc3c1075eaa2367cf899916d84
        with:
          shared-key: "ubuntu-22.04-shared-cache"
      - name: Launch integration test services
        uses: sudo-bot/action-docker-compose@ef4c4da08a9673f93d4eb8a5da1e942bf24a37ea
        with:
          cli-args: "-f ./crates/secrets-nats-kv/tools/docker-compose.yml up --detach"
      - name: Install nextest
        uses: taiki-e/install-action@58a3efb22c892c0e7d722787ab604b97b62ac694
        with:
          tool: nextest
      - name: Run integration tests
        run: make test-integration-ci
        working-directory: ./crates/secrets-nats-kv
